<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath() + '/'}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="layui/css/layui.css" media="all">
    <title>商品详情</title>
</head>
<body>
<!--商品的添加及批量删除按钮-->
<blockquote class="layui-elem-quote quoteBox">
        <div class="layui-inline">
            <a class="layui-btn layui-btn-normal addGoods_btn">添加地址</a>
        </div>
</blockquote>

<table class="layui-hide" id="goodstable" lay-filter="test" lay-data="{id: 'gdsTable'}"></table>

<!--隐藏域，获取session里的imgPath-->
<input th:type="hidden" name="imgPath" th:value="${imagePath}" id="imgPath"/>
</body>
<script type="text/javascript" src="layui/layui.js" ></script>
<script type="text/javascript" src="js/jquery.js" ></script>

<!--table里的操作模板-->
<script type="text/html" id="goodsOperate">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
</script>

<!--防止layui的table里的图片显示不全,配合行内style:height样式-->
<style type="text/css">
    .layui-table-cell{
        height:auto!important;
        white-space:normal;
    }
</style>

<!--渲染table表格的里的图片的模板-->
<script type="text/html" id="imgtmp">
    <img th:src="${imagePath+'{{d.gimage}}'}"/>
</script>

<script th:inline="none">//在js中用到 [[ ]]
    layui.use(['jquery','table','laytpl','layer'], function(){
        var form = layui.form,
            table = layui.table,
            layer = layui.layer,
            laytpl = layui.laytpl,
            $ = layui.jquery;

        //商品列表
        var tableIns =table.render({
            elem: '#goodstable'
            ,url:'/user/addressList'
            ,page: true
           // ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,size : 'lg'
            ,cols: [[
                {type: "checkbox",  width: 50,}
                ,{field:'id', width:100, title: 'id', sort: true, }
                ,{field:'person', width:100,title: '收货人'}
                ,{field:'address',width:120, title: '地址',width:120,align:"center"}
                ,{field:'phone', width:290, title:'手机号',align:"center"}
                ,{field:'uid', width:290, title: '所属用户名' ,templet:function (row) {
                        if(row.uid!=0){
                            console.log(row.uid);
                            var vss;
                            $.ajax({
                                url:"/user/getUserById",
                                data:{"id":row.uid},
                                async: false,//设置成同步才能实现数据外传
                                success:function (data) {
                                    console.log(data);
                                    var user=eval("("+data+")");
                                    vss=user.username;
                                }
                            });
                            return vss;
                        }else{
                            return row.uid;
                        }
                    }}
                ,{field:'isdefault',width:100, title: '是否默认',templet: function(row) {
                        if (row.isdefault == 1) {
                            return "是"
                        }else {
                            return "否"
                        }
                    }
                }
                ,{title: '操作', width:120, templet:'#goodsOperate',style:"height:120px"}
            ]]
        });

        //列表操作
        table.on('tool(test)', function(obj){
            var layEvent = obj.event,
                data = obj.data;
            //console.log(data);
            if(layEvent === 'edit'){ //编辑
                addGoods(data);
            } else if(layEvent === 'del'){ //删除
                layer.confirm('确定删除此商品？',{icon:3, title:'提示信息'},function(index){
                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                    //删除商品
                    $.ajax({
                        type: "POST",
                        url: "/user/delAddress/"+data.id,
                        success: function(msg){
                            layer.msg(msg);
                            tableIns.reload();
                            layer.close(index);
                        }
                    });
                });
            }
        });

        //触发点击添加商品
        $(".addGoods_btn").click(function(){
            addGoods();
        });

        //添加商品
        function addGoods(edit) {
            var index = layui.layer.open({
                title: "添加/修改地址",
                type: 2,
                content: "toPage/addressAdd",
                area: ['800px', '500px'],
                success: function (layero, index) {
                    var body = layui.layer.getChildFrame('body', index);
                    if (edit) {
                        console.log(edit);
                        body.find(".id").val(edit.id);
                        body.find(".person").val(edit.person);
                        body.find(".phone").val(edit.phone);
                        body.find(".uid").val(edit.uid);
                        body.find(".isdefault").val(edit.isdefault==1?'是':'否');
                        //form.render('select');
                        form.render();
                    }
                    setTimeout(function () {
                        layui.layer.tips('点击此处返回地址列表', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3
                        });
                    }, 500)

                },
                end: function () {
                    location.reload();
                }
            })

        }
    });
</script>


</html>