<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath() + '/'}"/>
    <meta charset="UTF-8">
    <title>商品添加</title>
    <link rel="stylesheet" href="layui/css/layui.css" media="all">
    <link rel="stylesheet" href="css/public.css" media="all" />
</head>
<body class="childrenBody">
<script type="text/javascript" src="layui/layui.js" ></script>
<script type="text/javascript" src="js/jquery.js" ></script>
<form class="layui-form layui-row" action="/user/saveorupdateAddress" enctype="multipart/form-data" th:method="post"  id="form_id">
    <div class="layui-row layui-col-xs12" >
        <div class=" layui-col-xs9" ><!--最外面的大盒子-->
            <div class="layui-form-item" ><!--商品标题盒子-->
                <label class="layui-form-label">收货人</label>
                <div class="layui-input-block">
                    <input th:type="hidden" name="id" class="layui-input id" id="id_hidden"/>
                    <input th:type="hidden" name="uid" class="layui-input uid"/>
                    <input type="text" name="person" required  lay-verify="required" placeholder="请输入收货人" autocomplete="off" class="layui-input person">
                </div>
            </div>
            <div class="layui-form-item" ><!--商品库存盒子-->
                <label class="layui-form-label">手机号</label>
                <div class="layui-input-block">
                    <input type="text" name="phone" required  lay-verify="required number" placeholder="请输入手机号" autocomplete="off" class="layui-input phone">
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item layui-col-md12">
                <label class="layui-form-label">是否默认地址</label>
                <div class="layui-input-block">
                    <input type="text" name="isdefault2" required  lay-verify="address" placeholder="是否设置为默认地址" autocomplete="off" class="layui-input isdefault">
            </div>
        </div>
        <div class="layui-col-md12">
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo" id="submit_btn" >立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    layui.use(['form'], function(){
     var form = layui.form;
    form.verify({
        address: function(value){
            if(value !== "是"&&value!=="否"){
                return '请输入是或者否';
            }
        }
    });
    });
</script>
</body>
</html>