<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath() + '/'}"/>
    <meta charset="UTF-8">
    <title>地址修改</title>
</head>
<body>
<form action="/index/addressUpdate" method="post" class="layui-form">
    <div class="layui-form-item" >
        <label class="layui-form-label">收货人</label>
        <input type="hidden" name ="id" class="layui-input id"/>
        <div class="layui-input-block">
            <input type="text" name="person" required   lay-verify="required" placeholder="请输入昵称" autocomplete="off" class="layui-input person">
        </div>
    </div>
    <div class="layui-form-item" >
        <label class="layui-form-label">手机号</label>
        <div class="layui-input-block">
            <input type="text" name="phone" required   lay-verify="number" placeholder="请输入手机号" autocomplete="off" class="layui-input phone">
        </div>
    </div>
    <div class="layui-form-item" >
        <label class="layui-form-label">收货地址</label>
        <div class="layui-input-block">
            <input type="text" name="address" required   lay-verify="required" placeholder="请输入地址" autocomplete="off" class="layui-input address">
        </div>
    </div>
    <div class="layui-form-item" >
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit >立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
</body>
</html>